{% load staticfiles %}
{# mysite/templates/base.html #}

<!DOCTYPE html>
<html>
    <head>
        <title>The Glorious Blog</title>
        <link type="text/css" rel="stylesheet" href="{% static 'django_blog.css' %}">
    </head>
    <body>
        <div id="header">  {# header begins here #}
            <ul id="control-bar">
            <li><a href="/">Home</a></li>
            {% if user.is_authenticated %}
                <li><a href="/unpublished/">Unpublished Posts</a></li>

                {% if user.is_staff %}
                    <li><a href="{% url 'admin:index' %}">Admin</a></li>
                {% endif %}
                
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
            <li><a href="/rss">RSS</a></li>
            
            </ul>
        </div>
        <div id="container">
            <div id="content">
                {% block content %}
                [content will go here]
                {% endblock %}
            </div>
        </div>
    </body>
</html>
