{% extends "base.html" %} {% block content %}

    {% if user.is_authenticated %}
        <div style="float: right">
            <button id="newPost">New Post</button>
            <script type="text/javascript">
                document.getElementById("newPost").onclick = function () {
                    location.href = "/add/";
                };
            </script>
        {% endif %}
    </div>
    <br><br>
    
    <div class="post">
        <h2 style="margin: 0">
            {{ post.title }}
        </h2>

        <p class="post-body" style="white-space: pre-wrap;">{{ post.text }}</p>

        <div class="col-container">
            <div class="col">
                <b>Categories:</b><br>
                <ul class="categories">
                    {% for category in post.categories.all %}
                        <li>{{ category }}</li><br>
                    {% endfor %}
                </ul>
            </div>
            <div class="col" align="right">
                {{ post.author.username }}<br>
                {{ post.published_date }}
            </div>
        </div>

    </div>
{% endblock %}