{% extends "base.html" %}
{% block content %}

    <form method="post">
        {% csrf_token %}
        <h1>Unpublished Posts</h1>

        {% if posts.count > 0 %}
            {% for post in posts %}
            <div class="post">
                <b>Title: {{ post.title }}</b><br>
                <b>Text: {{ post.text }}</b><br>


                {% comment %} <b>Author:</b> {{ post.author.username }} &mdash; {{ post.published_date }} {% endcomment %}


                <br>
                <button type="submit" class="btn btn-default">Publish</button>
            </div>
            <br>
            {% endfor %}

        {% else %}
            <p>You have no unpublished posts</p>
            
        {% endif %}
    {{ post.title }}
    {{ post.text }}
    
    </form>
{% endblock %}
        
